<c-row>

  <c-col xs="12">
    <c-card class="mb-4">

      <c-card-body>


        <form cForm class="row g-3">
          <c-col xs="12">
            <label cLabel for="inputAddress">Institute Name</label>
            <input cFormControl id="inputInstituteName" placeholder="Institute Name" />
          </c-col>

          <!-- <c-col xs="12">
            <label cLabel for="inputAddress">Address</label>
            <input cFormControl id="inputAddress" placeholder="1234 Main St" />
          </c-col> -->

          <c-col md="6">
            <label cLabel for="inputState">Institute Category</label>
            <select cSelect id="inputState">
              <option>Choose...</option>
              <option>Primary school</option>
              <option>High school</option>
              <option>College</option>
              <option>Aila Madrasa</option>
              <option>Dakhil Madrasa</option>
            </select>
          </c-col>
          <c-col md="6">
            <label cLabel for="inputState">State</label>
            <select cSelect id="inputState">
              <option>Choose...</option>
              <option>Primary school</option>
              <option>High school</option>
              <option>College</option>

            </select>
          </c-col>

          <c-col md="6">
            <label cLabel for="inputState">Institute Type</label>
            <select cSelect id="inputState">
              <option>Choose...</option>
              <option>Government</option>
              <option>Private</option>

            </select>
          </c-col>

          <c-col md="6">
            <label cLabel for="inputState">Union Name</label>
            <select cSelect id="inputState">
              <option>Choose...</option>
              <option>Union 1</option>
              <option>Union 2</option>
              <option>Union 3</option>
              <option>Union 4</option>
              <option>Union 5</option>


            </select>
          </c-col>






          <c-col md="6">
            <label cLabel for="inputEmail4">Email</label>
            <input cFormControl id="inputEmail4" type="email" />
          </c-col>
          <c-col md="6">
            <label cLabel for="inputPassword4">Password</label>
            <input cFormControl id="inputPassword4" type="password" />
          </c-col>
          <c-col md="6">
            <label cLabel for="inputPassword4">Phone Number</label>
            <input cFormControl id="inputPassword4" type="number" />
          </c-col>

          <!-- <c-col md="2">
            <label cLabel for="inputZip">Zip</label>
            <input cFormControl id="inputZip" />
          </c-col> -->

          <c-col xs="12">
            <button cButton type="submit">Sign in</button>
          </c-col>
        </form>










        <!-- <app-docs-example href="">
          <form cForm class="row g-3">
            <c-col md="6">
              <label cLabel for="inputEmail4">Email</label>
              <input cFormControl id="inputEmail4" type="email" />
            </c-col>
            <c-col md="6">
              <label cLabel for="inputPassword4">Password</label>
              <input cFormControl id="inputPassword4" type="password" />
            </c-col>
            <c-col xs="12">
              <label cLabel for="inputAddress">Address</label>
              <input cFormControl id="inputAddress" placeholder="1234 Main St" />
            </c-col>
            <c-col xs="12">
              <label cLabel for="inputAddress2">Address 2</label>
              <input cFormControl id="inputAddress2" placeholder="Apartment, studio, or floor" />
            </c-col>
            <c-col md="6">
              <label cLabel for="inputCity">City</label>
              <input cFormControl id="inputCity" />
            </c-col>
            <c-col md="4">
              <label cLabel for="inputState">State</label>
              <select cSelect id="inputState">
                <option>Choose...</option>
                <option>...</option>
              </select>
            </c-col>
            <c-col md="2">
              <label cLabel for="inputZip">Zip</label>
              <input cFormControl id="inputZip" />
            </c-col>
            <c-col xs="12">
              <c-form-check>
                <input cFormCheckInput id="gridCheck" name="gridCheck" type="checkbox" />
                <label cFormCheckLabel for="gridCheck">Check me out</label>
              </c-form-check>
            </c-col>
            <c-col xs="12">
              <button cButton type="submit">Sign in</button>
            </c-col>
          </form>
        </app-docs-example> -->
      </c-card-body>
    </c-card>
  </c-col>


</c-row>

